* {
	padding: 0;
	box-sizing: border-box;
	margin: 0;
}

body {
	font-family: "Arial";
	font-size: 18px;
	padding: 30px;
}
#template {
	display: none;
}
#todo li input {
	display: none;
}
#edit i {
	color: darkgreen;
}
#delete i {
	color: darkred;
}